---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="daisuke osada"
	pubDate={new Date('September 29 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	
	dai a.k.a. daisuke

</p>

- [daisuke](https://x.com/daisuke)
- [dai](https://github.com/dai)

</Layout>
